:root {
  --pink: rgba(238, 209, 227);
  --ube: rgba(111, 48, 85);
  --rose: rgba(170, 108, 144);
  --midpurple: rgba(211, 123, 177);
}
body {
  background: #6f3055;
  font-family: "Trebuchet MS", sans-serif;
}
#background {
  background: var(--midpurple);
  border: double 4px var(--pink);
  height: 100vh;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  overflow: visible;
  display: block;
  padding: 1px 0 0 0;
}
#title {
  font-size: 20px;
  position: relative;
  color: var(--pink);
  text-shadow: -1px -1px 0 var(--ube), 3px -1px 0 var(--ube),
    -1px 3px 0 var(--ube), 3px 3px 0 var(--ube);
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 0;
  text-align: center;
  display: block;
}
#quoteContainer {
  position: fixed;
  background-color: var(--ube);
  width: 50%;
  border: double 3px var(--pink);
  box-shadow: 5px 5px 20px 2px var(--ube);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}
#generatequote {
  color: var(--pink);
  background-color: var(--ube);
  border: double 4px var(--pink);
  box-shadow: 2px 2px var(--ube);
}
#generatequote:hover {
  color: #fff;
  background-color: var(--rose);
  border: double 4px var(--pink);
  box-shadow: 2px 2px var(--ube);
}
.quote {
  color: var(--pink);
  font-size: 15px;
}
.author {
  text-align: right;
  font-size: 15px;
  font-style: italic;
}
.vertical-center {
  margin: 0;
  text-align: center;
  position: relative;
  display: block;
}
